@charset "UTF-8";
/* 定義 media query 樣式名稱*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@keyframes fadeOutBubble {
  0% {
    opacity: 1;
    max-width: 200px;
    visibility: visible;
  }
  80% {
    opacity: 0;
    max-width: 200px;
  }
  100% {
    opacity: 0;
    max-width: 0;
    visibility: hidden;
  }
}
@keyframes fadeInBubble {
  0% {
    opacity: 0;
    max-width: 200px;
    visibility: hidden;
  }
  80% {
    opacity: 1;
    max-width: 200px;
    visibility: visible;
  }
  100% {
    opacity: 1;
    max-width: 200px;
    visibility: visible;
  }
}
@keyframes jumper {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zboing {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: 0;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  border-radius: 0;
  border: 1px solid #000;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

html, body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, "Microsoft Yahei", "Microsoft JhengHei", "新細明體";
  background-image: url("../images/base-bg.png");
  background-position: top center;
  background-size: cover;
}

a {
  cursor: pointer;
}

.fb-root {
  height: 0;
  overflow: hidden;
}

._freeze {
  position: fixed;
  width: 100%;
  height: 100%;
}

.l-container {
  margin: 0 auto;
  position: relative;
}

.l-wrap {
  width: 100%;
  position: relative;
}

.l-main {
  min-height: 100vh;
}

.l-footer {
  position: relative;
  text-align: center;
}

.container-area {
  width: 100%;
  max-width: 75vw;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.loading_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #0087b4;
  background-image: url("../images/cubes.png");
}
.loading_mask.active {
  display: none;
}

.index {
  height: 100vh;
}
.index .logo_btn {
  width: 320px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.index .setting {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 140px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.index .setting select {
  font-size: 16px;
}
.index .lottie_block {
  width: 50vw;
  height: 50vw;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.index .lottie_block.fadeOut {
  animation-name: fadeout-effect;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.index .lottie_block .shadow_button {
  position: absolute;
  z-index: 10;
  top: 75%;
  left: 36%;
  width: 15%;
  padding-top: 15%;
  cursor: pointer;
}
.index .back_btn {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  bottom: 60px;
  left: 60px;
  cursor: pointer;
}
.index .result {
  width: 80vw;
  max-height: 80vh;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.index .result .result_bg {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  display: inline-block;
  background-color: rgba(20, 20, 20, 0.7);
  padding: 25px 25px;
  border-radius: 5px;
}
.index .result .award {
  opacity: 0;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #242433;
  margin-bottom: 25px;
}
.index .result .award.start {
  animation-name: fadein-effect;
}
.index .result .congratualtion {
  color: red;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}
.index .result .lucky_user {
  min-width: 30%;
  opacity: 0;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  display: inline-block;
  margin: 0 3% 25px 0;
  font-size: 36px;
  color: white;
  text-shadow: 3px 3px #242433;
}
.index .result .lucky_user.start {
  animation-name: fadein-effect;
}
.index .result .lucky_user div {
  display: inline-block;
}
.index .result .lucky_user .department {
  width: 208px;
  color: transparent;
  position: relative;
}
.index .result .lucky_user .department .department_clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: justify;
  color: #CCC;
}
.index .result .lucky_user .department .department_clip:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
.index .result .lucky_user .nickname {
  color: #CCC;
}
.index .result .next_btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  bottom: -70px;
  left: 0;
  padding: 10px 20px;
}
.index .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/sparkles.gif");
  background-size: cover;
  background-position: center center;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  pointer-events: none;
}
.index .select_Bar {
  font-size: 36px;
  position: absolute;
  top: 70px;
  right: 70px;
  z-index: 11;
  overflow: hidden;
}
.index .select_Bar select {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  float: right;
}
.index .select_Bar option {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  font-size: 10px;
  color: rgb(125, 125, 125);
}
.index .select_Bar option:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/shadow.png");
  background-size: 100% 100%;
  border: 1px solid red;
}
.index .skip_btn {
  font-size: 26px;
  font-weight: bold;
  color: yellow;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@keyframes fadeout-effect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-effect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .index {
    height: 100vh;
  }
  .index .lottie_block {
    width: 80vw;
    height: 80vw;
  }
  .index .result {
    width: 80vw;
    height: 80vw;
  }
}
.list .list_wrapper {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.7);
  padding: 25px 25px;
  border-radius: 5px;
  overflow-y: auto;
}
.list .list_wrapper .award {
  color: yellow;
  font-size: 36px;
  margin-bottom: 20px;
}
.list .list_wrapper .winner_list {
  margin-bottom: 45px;
}
.list .list_wrapper .winner_list .winner {
  width: 30%;
  color: white;
  font-size: 36px;
  margin: 0 3% 20px 0;
  display: inline-block;
}

header {
  width: 100vw;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  background: #bf0e29;
  height: 3.6458333333vw;
  line-height: 3.6458333333vw;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 768px) {
  .nav {
    height: 13.3333333333vw;
    line-height: 13.3333333333vw;
  }
}
.nav a {
  cursor: pointer;
}
.nav p {
  display: inline-block;
  margin-right: 10px;
}
.nav .l-container {
  height: 100%;
}
.nav-bd {
  height: 100%;
  padding: 0 1.4583333333vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .nav-bd {
    padding: 0 3.0666666667vw;
  }
}
.nav-logo {
  display: inline-block;
  width: 11.09375vw;
  line-height: 0;
  vertical-align: middle;
}
@media only screen and (max-width: 1024px) {
  .nav-logo {
    width: 48vw;
  }
}
.nav-logo img {
  width: 100%;
  height: auto;
}
.nav-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-btn {
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    background: #fff;
    border-radius: 0.8vw;
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2vw 2vw;
    order: 3;
  }
  .nav-btn > .one,
  .nav-btn > .two,
  .nav-btn > .three {
    width: 100%;
    height: 2px;
    background: #bf0e29;
    backface-visibility: hidden;
    transition-duration: 0.3s;
    border-radius: 0.4vw;
  }
}
.nav-menu li {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  margin-right: 1.5625vw;
}
.nav-menu li span {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    width: 50vw;
    background: #aaa;
    height: 100vh;
    right: -100%;
    top: 13.3333333333vw;
    position: absolute;
    transition: all 0.2s ease-out;
  }
  .nav-menu ul {
    margin: 0;
    padding-top: 2.6666666667vw;
    padding-left: 2.9333333333vw;
    line-height: 10vw;
  }
  .nav-menu ul li {
    width: 100%;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .nav--active .nav-menu {
    right: 0;
    position: absolute;
    top: 13.3333333333vw;
    overflow: auto;
  }
  .nav--active .nav-btn > .one {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg) translateY(-50%);
  }
  .nav--active .nav-btn > .two {
    opacity: 0;
  }
  .nav--active .nav-btn > .three {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg) translateY(-50%);
  }
}

.mdLoading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background: rgb(233, 18, 0);
  top: 0px;
  left: 0px;
  z-index: 10;
}
.mdLoading .loadingBox {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}
.mdLoading .loadingBox .title {
  position: absolute;
  width: 450px;
  height: 120px;
  top: 50%;
  margin-top: -120px;
  left: 50%;
  margin-left: -225px;
}
.mdLoading .loadingBox .title .titleBox {
  position: relative;
}
.mdLoading .loadingBox .line2 {
  width: 200px;
}
.mdLoading .loadingBox .percentage {
  position: absolute;
  color: #ffffff;
  font-size: 3rem;
  font-family: sans-serif;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0;
  height: 75px;
  margin-top: -43px;
}
.mdLoading .loadingBox .progressBar {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  overflow: hidden;
}
.mdLoading .loadingBox .progressBar .progress {
  width: 0%;
  height: 5px;
  background: #ffffff;
  transition-property: all;
  transition: 0.1s;
}

.popup {
  display: block;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.popup img {
  width: 100%;
  height: auto;
}
.popup__area {
  position: relative;
}
.popup__content {
  position: relative;
  height: 80vh;
  overflow: scroll;
  padding: 0 15px;
  width: 80%;
  margin: 100px auto 0;
  text-align: center;
}
.popup__content::-webkit-scrollbar {
  display: none;
}
.popup__close {
  top: -70px;
  right: 30px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #aaa;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.popup__close:before {
  content: "✖";
}

[v-cloak] * {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */
