<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
  <!--page default Information-->
  <!--html head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>練愛分校｜巨匠教育x霞海城隍廟</title>
    <meta name="description" content="通過月老檢定考，獲取你的戀愛認證! 完成檢定再領限量霞海加持戀愛平安符等好禮!">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="練愛分校｜巨匠教育x霞海城隍廟">
    <meta itemprop="description" content="通過月老檢定考，獲取你的戀愛認證! 完成檢定再領限量霞海加持戀愛平安符等好禮!">
    <meta itemprop="image" content="./images/share.jpg">
    <meta name="keywords" content="巨匠、巨匠教育、巨匠外語、巨匠電腦、練愛分校、霞海城隍廟、霞海城隍月老">
    <meta property="og:title" content="練愛分校｜巨匠教育x霞海城隍廟">
    <meta property="og:description" content="通過月老檢定考，獲取你的戀愛認證! 完成檢定再領限量霞海加持戀愛平安符等好禮!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="./images/share.jpg">
    <link rel="Shortcut Icon" type="images/x-icon" href="./images/web-icon.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="static/swiper-bundle.min.css">
    <script src="static/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker-latest.min.js" async></script>
    <script>
      var _LTracker = _LTracker || [];
          _LTracker.push({'logglyKey': '8016ea6d-fa64-4c93-bddb-461c5e78fd99',
          'sendConsoleErrors' : true,
          'tag' : `project-name`});
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
      })(window,document,'script','dataLayer',`GTM-W8KD2MR5`);
    </script>
  </head>
  <!--html body-->
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8KD2MR5" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="l-wrap" id="app" v-cloak="undefined">
      <nav class="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="l-container">
          <div class="nav-bd"><a class="to-index" href="index.html"></a><img class="nav-btn" src="./images/hamburger.png">
            <div class="nav-menu" role="navigation">
              <ul class="clearfix">
                <li><img class="icon" src="./images/loudspeaker-icon.png" alt="大聲公"><span id="menu-rule" @click="showRule = true">活動辦法</span><img class="arrow" src="./images/frame-arrow-icon.png" alt="箭頭"></li>
                <li><img class="icon" src="./images/raffle-box-icon.png" alt="籤筒"><a href="https://result.friendo.com.tw/YthdP" target="_blank">線上求籤問感情</a><img class="arrow" src="./images/frame-arrow-icon.png" alt="箭頭"></li>
                <li><img class="icon" src="./images/book-icon.png" alt="書"><a href="reserve.html">免費報名體驗課</a><img class="arrow" src="./images/frame-arrow-icon.png" alt="箭頭"></li>
                <li><img class="icon" src="./images/icon-4.png" alt="證書"><span id="menu-to-certificate" @click="game.menuToCertificate()">查看戀愛認證書</span><img class="arrow" src="./images/frame-arrow-icon.png" alt="箭頭"></li>
                <div class="nav-close-btn"></div>
                <div class="hr-1"></div>
                <div class="hr-2"></div>
                <div class="hr-3"></div>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- render nav view-->
      <div class="l-fb">
        <div class="l-container">
          <div class="fb-box">
            <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"> </div>
          </div>
        </div>
      </div>
      <div class="l-main">
        <div class="reserve-pc"></div>
        <div class="reserve">
          <form action="">
            <div class="header">預約免費課程</div>
            <div class="title">姓名</div>
            <input type="text" v-model:value="formValue.name">
            <div class="title">手機號碼</div>
            <input type="text" maxlength="10" v-model:value="formValue.phone">
            <div class="title">Email</div>
            <input class="last" type="text" v-model:value="formValue.mail">
            <label class="check-section" for="check">我已詳細閱讀並接受<span @click="regulationsStatus = !regulationsStatus">個資保護聲明</span>
              <input id="check" type="checkbox" v-model:value="formValue.check"><span class="checkmark"></span>
            </label>
            <div class="title">預約課程類別</div>
            <div class="course-section"> 
              <label class="check-section" for="language">外語課程
                <input id="language" type="checkbox" v-model:value="formValue.language"><span class="checkmark"></span>
              </label>
              <label class="check-section" for="computer">電腦課程
                <input id="computer" type="checkbox" v-model:value="formValue.computer"><span class="checkmark"></span>
              </label>
            </div>
            <div class="reserve-submit" @click="submitForm()"></div><a class="reserve-back" href="index.html?source=reserve">返回</a>
          </form>
          <div class="success" v-if="postSuccess">
            <div class="success-container">
              <div class="header">送出成功！</div>
              <div class="center">將由專人於3個工作天<br>內與您電話聯繫，<br>為您安排免費課程，<br>請保持電話暢通</div><a href="index.html?source=reserve"><img class="bottom" src="./images/btn-back-submit.png" alt="返回"></a>
            </div>
          </div>
          <div class="loading" v-if="apiLoading">
            <div class="loader"></div>
          </div>
          <div class="regulations" v-if="regulationsStatus">
            <div class="regulations-container"><img class="close-btn" src="./images/btn-close.png" alt="close-btn" @click="regulationsStatus = false">
              <p>我已詳閱練愛分校活動辦法，瞭解並同意活動規則與個資授權條款。</p>
              <div class="row"> 
                <div class="num">1.</div>
                <div class="world">依據個人資料保護法（以下稱個資法）向您告知下列事項，參與本活動前請務必閱讀以下說明。</div>
              </div>
              <div class="row">
                <div class="num">2.</div>
                <div class="world">蒐集個人資料公司：巨匠電腦股份有限公司(“本公司”)。</div>
              </div>
              <div class="row">
                <div class="num">3.</div>
                <div class="world">蒐集之目的：舉辦「練愛分校」活動、預約課程服務、本活動相關行銷目的及後續聯繫使用。</div>
              </div>
              <div class="row">
                <div class="num">4.</div>
                <div class="world">個人資料之類別：包括姓名、手機號碼、Email及您依據活動辦法所提供之個人資料。</div>
              </div>
              <div class="row">
                <div class="num">5.</div>
                <div class="world">個人資料利用之期間、地區、對象及方式：<br>• 期間： 自您參加「練愛分校」活動之日起至特地目的消失止，法律另有規定者則不在此限。<br>• 地區：中華民國境內及主辦單位業務或服務所及的其他地區、利用對象所在的地區。<br>• 對象：本公司、本公司委託者及執行本活動時之必要相關人員。<br>• 方式：書面、電子文件、電話、傳真、以自動化機器或其他非自動化之利用方式</div>
              </div>
              <div class="row">
                <div class="num">6.</div>
                <div class="world">依據個資法第三條規定，本活動參與者瞭解，就其所提供之個人資料得行使下列權利：得向本公司查詢或請求閱覽、請求製給複製本，惟本公司依法得酌收必要成本費用。<br>• 得向本公司請求補充或更正，惟依法您應為適當之釋明。<br>• 得向本公司請求停止蒐集、處理或利用以及請求刪除，惟依法本公司因執行職務或保存證據所必須者，得不依您請求為之。</div>
              </div>
              <div class="row">
                <div class="num">7.</div>
                <div class="world">不提供個人資料所致權益之影響：您可自由選擇是否提供本公司其個人資料，若拒絕提供相關個人資料，則無法參與本活動；經檢舉或本公司發現提供之個人資料不足以確認您的身分真實性或其他個人資料冒用、盗用、資料不實等情形，致本公司無法進行必要之確認作業，本公司有權暫時停止提供本活動相關服務，若有不便之處敬請見諒。</div>
              </div>
              <div class="row">
                <div class="num">8.</div>
                <div class="world">您參與本活動即視為已瞭解本公司以上告知事項，並已清楚瞭解本公司及其委託之執行單位蒐集及利用您的個人資料之目的及用途，並同意本公司及其委託之執行單位於上述告知事項範圍內，得蒐集、處理、國際傳遞及利用您的個人資料。</div>
              </div>
            </div>
          </div>
        </div>
        <!-- render main view-->
      </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script src="./static/tf.min.js"></script>
    <script src="./static/teachablemachine-image.min.js"></script>
    <script src="static/lottie.min.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/shopMapping.js"></script>
    <script type="text/javascript" src="js/preparMapping.js"></script>
    <script type="text/javascript" src="js/scanMapping.js"></script>
    <script type="text/javascript" src="js/examMapping.js"></script>
    <script type="text/javascript" src="js/teachMapping.js"></script>
    <script type="text/javascript" src="js/resultMapping.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1723806794724" data-mode="false"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf2VJcUAAAAAAMBL4g3v0EmBtaAK2XGKlS1ajVe" async defer></script>
    <script src="js/index.js?v=1723806794724"></script>
    <script type="text/javascript"></script>
  </body>
</html>