<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
  <!--page default Information-->
  <!--html head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>中獎名單</title>
    <meta name="description" content="pageDesc">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="中獎名單">
    <meta itemprop="description" content="pageDesc">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="中獎名單">
    <meta property="og:description" content="pageDesc">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <!--html body-->
  <body>
    <div class="l-wrap" id="app">
      <!-- render nav view-->
      <div class="l-main">
        <section class="list">
          <div class="list_wrapper">
            <div v-for="(winner_array, key, index) in list_data">
              <div class="award">{{ key }}</div>
              <div class="winner_list"><span class="winner" v-for="winner in winner_array">{{ winner }}</span></div>
            </div>
          </div>
        </section>
        <!--render main view-->
      </div>
      <div class="loading_mask" :class="{active: is_ready}"></div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1709510526716" data-mode="true" data-site="https://cmpnapi-go-testing.azurewebsites.net/api/"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/component/comingsoon.js"></script>
    <script src="js/list.js?v=1709510526716"></script>
    <script type="text/javascript"></script>
  </body>
</html>