body {
    background-color: #faf8c8;
    background-image: url("images/gplay.png");
}

body.dev {
    background-color: white;
    background-image: none;
}

.main {
    width: 100%;
    max-width: 1280px;
    overflow: auto;
    padding: 50px 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.card {
    width: 23%;
    padding-top: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: white;
    border-radius: 10px;
    float: left;
    box-shadow: 0 0 3px rgba(165, 160, 68, 1);
    border: 3px solid white;
    background-size: 100%;
    background-position: center center;
    box-sizing: border-box;
    transition: all .4s;
    cursor: pointer;
    background-repeat: no-repeat;
    position: relative;
}

.card2 {
    width: 48%;
}

.card:hover, .card2:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 6px 6px rgba(165, 160, 68, .15);}

.card a, .card .content_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 
.card2 {
    padding-top: 32.568%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: white;
    border-radius: 10px;
    float: left;
    box-shadow: 0 0 3px #cfc847;
    border-radius: 10px solid white;
    background-size: 100%;
    background-position: center center;
    box-sizing: border-box;
    transition: all .6s;
    cursor: pointer;
} 
*/

.c_default {
    background-image: url('images/gplay.png');
    background-repeat: repeat;
    pointer-events: none;
}

.c_tangyuan {
    background-image: url('images/tangyuan.png');
}

.c_redenvelope {
    background-image: url('images/redenvelope.png');
}

.c_kosenpai {
    background-image: url('images/kosenpai.png');
}

.c_grapeking53 {
    background-image: url('images/grapeking53.png');
}

.c_ginger2022 {
    background-image: url('images/ginger2022.png');
}

.c_prevention {
    background-image: url('images/fraud-prevention.png');
}

.c_FinancialVentingRoom {
    background-image: url('images/FinancialVentingRoom.png');
}

.c_essencedrinkCNY2023 {
    background-image: url('images/essencedrinkCNY2023.png');
}

.c_ComebestCNY2022 {
    background-image: url('images/ComebestCNY2022.png');
}

.c_CHAMONIX2025 {
    background-image: url('images/CHAMONIX2025.png');
}

.c_carrefourEMOJI {
    background-image: url('images/carrefourEMOJI.png');
}

.c_grapeking52 {
    background-image: url('images/grapeking52.png');
}



.c_lovesea {
    background-image: url('images/chamonix_lovesea.png');
}

.c_cha_street {
    background-image: url('images/0414_Cha_Street.jpg');
}

.c_mineshine2021newyear {
    background-image: url('images/mineshine2021newyear.jpg');
}

.c_grapeking51th {
    background-image: url('images/grapeking51th.jpg');
}

.c_cathay_caculate {
    background-image: url('images/cathayInsurance_cover.png');
}

.c_2021CBCNY {
    background-image: url('images/2021CBCNY.jpg');
}

.c_3kingdom {
    background-image: url('images/2020CBtkm-cover.png');
}

.c_family_points {
    background-image: url('images/family_points.jpg');
}

.c_fareastern {
    background-image: url('images/fareastern.png');
}

.c_family {
    background-image: url('images/family.png');
}

.c_taishin_atm {
    background-image: url('images/taishin_atm.jpg');
}

.c_2019Q2tiida {
    background-image: url('images/2019Q2tiida.png');
}

.c_tsatm201901 {
    background-image: url('images/tsatm201901.png');
}

.c_richart_point {
    background-image: url('images/richart_point.jpg');
}

.c_taishin {
    background-image: url('images/taishin.png');
}

.c_fuma {
    background-image: url('images/fuma.png');
}

.c_xtrail-left {
    background-image: url('images/xtrail-left.jpg');
}

.c_xtrail-right {
    background-image: url('images/xtrail-right.jpg');
}

.c_dashboard_1 {
    background-image: url('images/dashboard_1.png');
}

.c_sentra19my {
    background-image: url('images/sentra19my.jpg');
}

.c_gashapon {
    background-image: url('images/gashapon.png');
}

.c_demo-box {
    background-image: url('images/demo_box.png');
}

.c_tank {
    background-image: url('images/tank.png');
}

.c_toys {
    background-image: url('images/toys.png');
}

.c_litv {
    background-image: url('images/litv.png');
}

.c_markdown {
    background-image: url('images/markdown.png');
}

.c_run {
    background-image: url('images/run.png');
}

.c_default:hover {
    transform: scale(1, 1);
    box-shadow: 0 0 0 none;

}

.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* display: none; */
}

.box-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

.box-wrapper {
    width: 60%;
    /* max-width: 1400px; */
    /* padding-top: 34.01%; */
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.close_btn {
    position: absolute;
    display: table-cell;
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    /* padding: 5px; */
    border-radius: 25px;
    background-color: #333;
    color: white;
    border: 2px solid white;
    z-index: 10;
    box-shadow: 0 0 4px #333;
    cursor: pointer;
}

.swiper-container, .swiper-wrapper {
    width: 100%;
    /* height: 100%; */
}

/* .swiper-pagination {
    position: absolute;
    bottom: 0;
} */

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -2px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px 45px;
    box-sizing: border-box;
}

.swiper-slide img {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .card {
        width: 31.33%;
        padding-top: 40.854%;
    }
    .card2 {
        width: 64.66%
    }
    .box-wrapper {
        width: 85%;
    }

    .swiper-slide {
        padding: 10px 25px;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 13.5px;
        height: 22px;
        margin-top: -11px;
        background-size: 100%;
    }
    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}

.back {
    visibility: hidden;
    z-index: -1;
    position: absolute;
}